<form #f="ngForm" class="create-todo__container" (ngSubmit)="handleClick(f)">
  <mat-form-field class="create-todo__form-field" [floatLabel]="'never'" appearance="outline">
    <input class="create-todo__input" 
    matInput 
    [placeholder]="randomTodo" 
    (blur)="removeErrors(f)"
    name="description" 
    ngModel 
    required 
    maxlength="100"/>
  </mat-form-field>
  <div class="create-todo__button pointer" (click)="handleClick(f)">
    <mat-spinner *ngIf="status == 'loading'" diameter="32"></mat-spinner>
    <mat-icon *ngIf="status == 'none'">add</mat-icon>
    <mat-icon *ngIf="status == 'done'">done_all</mat-icon>
  </div>
</form>
