<div class="create-todo__container">
  <mat-form-field class="create-todo__form-field" [floatLabel]="'never'" appearance="outline">
    <input class="create-todo__input" matInput [placeholder]="randomTodo" [value]="todo" (input)="onChange($event)" />
  </mat-form-field>
  <div class="create-todo__button" (click)="handleClick()">
    <mat-spinner *ngIf="status == 'loading'" diameter="32"></mat-spinner>
    <mat-icon *ngIf="status == 'none'">add</mat-icon>
    <mat-icon *ngIf="status == 'done'">done_all</mat-icon>
  </div>
</div>
